@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;900&display=swap');

  header {
    background-color: rgb(30, 22, 84);
    padding: 1em;
    font-family: "Merienda", sans-serif;
    font-size: large;
    color:rgb(215, 214, 224);
  }

  button{
    position: absolute;
    top: 50%;
    left: -43%; 
    transform: translate(-50%, -50%); 
  }

.new-button{
  background-color: rgb(39, 27, 100);
  top: 25%;
  left: -40%;
}

.searchfield{
top: 50%;
width: 50px;
}

.loginform{
  width: 100%;
  max-width: 400px;

}

.inputform{
  left: 20px
}

.custom-table-header .ant-table-thead > tr > th {
  background-color: rgb(30, 22, 84); 
  color: #f8f8f8; 
}
